---
http_interactions:
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>login</methodName><params><param><value><string>alan.yu@tarokosoftware.com</string></value></param><param><value><string>yefAO1ntGzlxcV@jqy^J</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <params>\r\n    <param>\r\n
        \     <value>\r\n        <string>908C663D-1963-4F4D-97D8-EF5FFC587979</string>\r\n
        \     </value>\r\n    </param>\r\n  </params>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 07:56:46 GMT
[...]
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>listCreate</methodName><params><param><value><string>908C663D-1963-4F4D-97D8-EF5FFC587979</string></value></param><param><value><string>test</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <fault>\r\n    <value>\r\n
        \     <struct>\r\n        <member>\r\n          <name>faultCode</name>\r\n
        \         <value>\r\n            <i4>1</i4>\r\n          </value>\r\n        </member>\r\n
        \       <member>\r\n          <name>faultString</name>\r\n          <value>\r\n
        \           <string>List with that name already exists</string>\r\n          </value>\r\n
        \       </member>\r\n      </struct>\r\n    </value>\r\n  </fault>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 07:57:13 GMT
[...]
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>to_ary</methodName><params><param><value><string>908C663D-1963-4F4D-97D8-EF5FFC587979</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <fault>\r\n    <value>\r\n
        \     <struct>\r\n        <member>\r\n          <name>faultCode</name>\r\n
        \         <value>\r\n            <i4>0</i4>\r\n          </value>\r\n        </member>\r\n
        \       <member>\r\n          <name>faultString</name>\r\n          <value>\r\n
        \           <string>unsupported method called: to_ary</string>\r\n          </value>\r\n
        \       </member>\r\n      </struct>\r\n    </value>\r\n  </fault>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 07:58:44 GMT
recorded_with: VCR 4.0.0
