---
http_interactions:
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>login</methodName><params><param><value><string>alan.yu@tarokosoftware.com</string></value></param><param><value><string>yefAO1ntGzlxcV@jqy^J</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <params>\r\n    <param>\r\n
        \     <value>\r\n        <string>908C663D-1963-4F4D-97D8-EF5FFC587979</string>\r\n
        \     </value>\r\n    </param>\r\n  </params>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 08:01:44 GMT
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>listCreate</methodName><params><param><value><string>908C663D-1963-4F4D-97D8-EF5FFC587979</string></value></param><param><value><string>test</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <params>\r\n    <param>\r\n
        \     <value>\r\n        <string>15472311</string>\r\n      </value>\r\n    </param>\r\n
        \ </params>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 08:01:45 GMT
recorded_with: VCR 4.0.0
