---
http_interactions:
- request:
    method: post
    uri: http://api.benchmarkemail.com/1.3/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>login</methodName><params><param><value><string>error</string></value></param><param><value><string>error</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\r\n<methodResponse>\r\n  <fault>\r\n    <value>\r\n
        \     <struct>\r\n        <member>\r\n          <name>faultCode</name>\r\n
        \         <value>\r\n            <i4>1</i4>\r\n          </value>\r\n        </member>\r\n
        \       <member>\r\n          <name>faultString</name>\r\n          <value>\r\n
        \           <string>Invalid username / password.</string>\r\n          </value>\r\n
        \       </member>\r\n      </struct>\r\n    </value>\r\n  </fault>\r\n</methodResponse>"
  recorded_at: Wed, 07 Feb 2018 08:03:29 GMT
recorded_with: VCR 4.0.0
